.c-banner {
    color: #fff;
    padding-top: 125px;
    background-image: url(../../img/header/header-bg.png);
    background-position: bottom, right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.c-banner__content {
    padding-bottom: 150px;
}

.c-banner__content h2 {
    font-size: 40px;
}

.c-banner__content p {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.c-banner__content a {
    font-size: 20px;
}

.c-banner__image{
    animation-name: translateY;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media only screen and (max-width: 991px) {
    .c-banner__content {
        text-align: center;
    }
}
@keyframes translateY {
	0%   {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
	 }

	50%  {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
	}
}
