.c-nav--fixed nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #252525;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
            box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);

}
.c-nav{
    position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
	min-height: 80px;
	transition: .5s;
	z-index: 9;
}
.c-nav .navbar-nav .nav-item a{
    color:  #ffffff;
    transition: .4s;
    letter-spacing: .5px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding: 25px 12px 25px 18px;
    
}
.c-nav .navbar-nav .nav-item a:hover{
    color: #fff;
}
.c-nav .navbar-nav .nav-item .nav-link:before {
    position: absolute;
    content: '';
    bottom: 20px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 100%);
    transition: .4s;
}
.c-nav .navbar-nav .nav-item .c-nav--active:before{
    width: 25px;
}
.c-nav .navbar-nav .nav-item:hover .nav-link:before {
    width: 25px;
}

@media only screen and (max-width: 991px){
    .c-nav {
    background: #252525;
}}